<% if tournament.errors.any? %>
  <div id = "error_explanation">
    <h3><%= pluralize(tournament.errors.count, "Error") %></h3>
    <ul>
      <% tournament.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>