<%= render partial: 'errors', locals: {tournament: @tournament} %>

<h1>New Tournament</h1>

<%= render partial: 'form', locals: {tournament: @tournament, button_tag: 'Create Tournament'} %>

<br>
<%= link_to "All Tournaments", '/' %>
<br>
<%= link_to "Profile", player_path(@player) %>